<div class="row">
  <div class="col-xs-12">
    <form [formGroup]= "TodoGroup" class="form-inline" (ngSubmit)= "onSaveEdit()">
      <label for="todo-info">{{ id+1 }}</label>
      <input type="text" formControlName="todoInfo"class="form-control">

      <button class="btn btn-primary" (click)="onEdit()"
        [routerLink]="id">Edit</button>
      <button class="btn btn-success"[disabled]="Test">Save</button>
      <button class="btn btn-danger"[disabled]="Test" (click)="onExecuted()">Delete</button>
    </form>
    <br> 
  </div>
</div>